@import '../../styles/mixin';
@import '../../styles/colors';

.main {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    background-color: $color-bistre;
    padding: 0 20px;

    .leftContainer {
        width: 100%;
        @include flex-between;
        column-gap: 5px;
    }

}